.nav-Overwatch {
    display:  flex;
    position: fixed;
    flex-direction: column;
    width: 350px;
    height: 100px;
    margin-top: 88px;
    margin-left: 200px;
    background-color: #181717;
    z-index: 10;    

}
.img-Overwatch {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;  
    margin-top: 13px;
   
}

.title-Overwatch {
    font-size: 17px;
    color: aliceblue;
    height: 10px;
    margin-top: -45px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    
}

.subtitle-Overwatch  {
    font-size: 13px;
    color: #D0E9FF99;
    margin-top: 35px;

}