.card-Games{
    margin-top: 4px;
    padding-right: 90px;
    padding-left: 92px;
    margin-left: 4px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
     grid-template-rows: repeat(2, 1fr);
    
}

.img-Card1{
    width: 238px;
    height: 315px;
    border-radius: 6px;
}

h1 {
    font-size: 18px;
    color: aliceblue;
    margin-left: 15px;
    height: 0%;
}

h3 {
    font-size: 14px;
    color: #D0E9FF99;
}

.title-Card{
    display: flex;
}

.description-Card{
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-left: 16px;
    margin-top: 30px;
}

.Logitos {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-left: 15px;
    gap: 10px;
}

@media only screen and (max-width: 1024px) {
    
    .card-Games{
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: repeat(2, 1fr);
        width: 225px;
        height: 300px;
        gap: 150px;
        overflow-x: auto; 
        overflow-y: hidden;
    }
    

    .img-Card1{
        margin-top: 10px;
        width: 138px;
        height: 215px;
        border-radius: 6px;
        padding: -1300%;
    }

    .container-Card{
        margin-left: -250px;
    }

    .title-Card{
        display: flex;
        font-size: 14px;
        color: #ffffff;
        margin-left: 60px;
        margin-top: 1px;
        
    }

    .description-Card{
        display: flex;
        flex-direction: row;
        justify-self: start;
        margin-left: 60px;
        margin-top: 20px;
        font-size: 10px;
    }
     

    .Logitos{
        display: none;
    }


}