.CardGames{
    margin-top: 4px;
    padding-right: 90px;
    padding-left: 92px;
    margin-left: 4px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
     grid-template-rows: repeat(2, 1fr);
    
}

.ImgCard1{
    width: 238px;
    height: 315px;
    border-radius: 6px;
}

h1 {
    font-size: 18px;
    color: aliceblue;
}

h3 {
    font-size: 14px;
    color: #D0E9FF99;
}

.TitleCard{
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-left: 10px;
}

.DescriptionCard{
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-left: 12px;
}

.Logitos {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-left: 15px;
}