

.players-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.player-wrapper {
    text-align: center;
    margin: 10px;
}

.player-images {
    display: flex;
    align-items: center;
}

.player-image {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

 /* Estilos específicos para la imagen de Neymar, si es necesario */

.button-images {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.tv-image {
    width: 60%; /* Ajusta el ancho según sea necesario */
    margin-top: 100px;
}

