
.DownloadBattleNe {
    width: 1300px;
    height: 560px;
    margin-top: 150px;
   
    border-radius: 23px;
   
}

.NetButton{
    position: absolute;
    left: 220px;
    top: 2434px;

    font-size: 30px;

    background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  
  padding: 16px 34px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.InfoButton{
    position: absolute;
    width: 262px;
    height: 68px;
    left: 442px;
    top: 2434px;
    font-size: 24px;
    border-radius: 100px;
    
    background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
    
}