

.Avila {
    width: 990px;
    height: 615px;
    margin-top: 170px;
    align-items: center;
  justify-content: center;
}

.NetButton{
    position: absolute;
    left: 400px;
    top: 2600px;

    font-size: 30px;

    background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  
  padding: 19px 40px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.InfoButton{
    position: absolute;
    left: 650px;
    top: 2600px;
    font-size: 30px;
    border-radius: 100px;
    color: #fff;
    background-color:#ffffff41
    
}