.DownloadBattle{
    width: 500px;
    height: 500px;
 background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blta8f9a8e092360c6c/bltb1b55d28d4835ac9/64c007d6a4648b44a076cd13/Desktop.jpg?format=webply&quality=80&auto=webp);
}