.Contacts{
    display: flex;
    flex-direction: row;
    margin-top: 180px;
}
.LeftContacts{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.Empleo{
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
}

.Informacion{
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
}

.Asistencia{
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
}

.Contacto{
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
}

.Prensa{
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
}

.Api{
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
}

.MapaDelSitio{
    font-size: 18px;
    color: aliceblue;
    padding-right: 450px
}

.ButtonGlobeEu{
    background-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: 6%;

}

.Globe{
    width: 24px;
    height: 24px;
    color: aliceblue;
}






