.Contacts{
    display: flex;
    flex-direction: row;
    margin-top: 170px;
    border-bottom: solid;
}
.left-Contacts{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.Empleo{
    margin-left: 60px;
    font-size: 18px;
    color: aliceblue;
    padding-right: 40px
    
    
}

.Informacion{
    font-size: 16px;
    color: aliceblue;
    padding-right: 40px
}

.Asistencia{
    font-size: 16px;
    color: aliceblue;
    padding-right: 40px
}

.Contacto{
    font-size: 16px;
    color: aliceblue;
    padding-right: 40px
}

.Prensa{
    font-size: 16px;
    color: aliceblue;
    padding-right: 40px
}

.Api{
    font-size: 16px;
    color: aliceblue;
    padding-right: 40px
}

.mapa-del-Sitio{
    font-size: 16px;
    color: aliceblue;
    padding-right: 385px
}

.button-globe-Eu{
    background-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: 6%;

}

.Globe{
    width: 20px;
    height: 20px;
    color: aliceblue;
    margin-right: 5px;
}

@media only screen and (max-width: 1024px) {
    .Contacts{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        border-bottom: solid;
        display: none;
    }
    .left-Contacts{
        display: flex;
        flex-direction: row;
        margin-left: 1px;  
        display: none;
    }

    .Empleo{
        margin-left: 60px;
        font-size: 14px;
        color: aliceblue;
        padding-right: 40px
        
    }
    
    .Informacion{
        font-size: 14px;
        color: aliceblue;
        padding-right: 40px
    }
    
    .Asistencia{
        font-size: 14px;
        color: aliceblue;
        padding-right: 40px
    }
    
    .Contacto{
        font-size: 14px;
        color: aliceblue;
        padding-right: 40px
    }
    
    .Prensa{
        font-size: 14px;
        color: aliceblue;
        padding-right: 40px
    }
    
    .Api{
        font-size: 14px;
        color: aliceblue;
        padding-right: 40px
    }
    
    .mapa-del-Sitio{
        font-size: 14px;
        color: aliceblue;
        padding-right: 385px
    }
    
}