.Footer{
    display: flex;
    flex-direction: row;
}


.left-Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Terms{
    display: flex;
    flex-direction: row;
    gap: 9px;
    position: absolute;
    left: 343px;
    top: 2918px;
}


.blizzards-Logo {
    margin-right: 12px;
    width: 140px;
    height: 73px;
    display: flex;
    flex-direction: row;
    margin-left: 115px;
    margin-top: 35px;
    margin-bottom: 180px;
    

}



.Entertainment{
    position: absolute;
    font-size: 12px;
    left: 343px;
    top: 2868px;
}

.Marcas{
    position: absolute;
    font-size: 12px;
    left: 343px;
    top: 2886px;
}

.Privacidad{
    font-size: 12px;
}
.Legal{
    font-size: 12px;
}
.Terminos{
    font-size: 12px;
}
.politica-Cookies{
    font-size: 12px;
}

.ajustes-Cookies{
    font-size: 12px;
}

.button-Twitter{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 2886px;
   right: 260px;
   border-radius: 100px;
   width: 33px;
   height: 33px;
    background-color:#ffffff27
}

.xTwitter {
    width: 18px;
    height: 18px;
}

.button-Facebook{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 2886px;
   right: 210px;
   border-radius: 100px;
   width: 33px;
   height: 33px;
    background-color:#ffffff27
}

.xFacebook {
    width: 18px;
    height: 18px;
}

.button-Reddit{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 2886px;
   right: 160px;
   border-radius: 100px;
   width: 33px;
   height: 33px;
    background-color:#ffffff27
}

.xReddit{
    width: 18px;
    height: 18px;
}

.button-Instagram{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 2886px;
   right: 110px;
   border-radius: 100px;
   width: 33px;
   height: 33px;
    background-color:#ffffff27
}

.xInstagram {
    width: 18px;
    height: 18px;
}

.button-Youtube{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 2886px;
   right: 60px;
   border-radius: 100px;
   width: 33px;
   height: 33px;
    background-color:#ffffff27
}

.xYoutube {
    width: 18px;
    height: 18px;
}

@media only screen and (max-width: 1024px) {
    
    .Footer{
        display: flex;
        flex-direction: row;
    
    }

    
.blizzards-Logo {
    margin-right: 12px;
    width: 120px;
    height: 63px;
    display: flex;
    flex-direction: row;
    margin-left: 145px;
    margin-top: 35px;
    margin-bottom: 180px;

}

.Entertainment{
    position: absolute;
    font-size: 12px;
    left: 110px;
    top: 1260px;
}

.Marcas{
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 1286px;
}

.button-Twitter{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 1226px;
   left: 80px;
   border-radius: 50%;
   width: 32px;
   height: 32px;
    background-color:#ffffff27
}

.xTwitter {
    width: 20px;
    height: 20px;
}

.button-Facebook{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 1226px;
   left: 130px;
   border-radius: 50%;
   width: 32px;
   height: 32px;
    background-color:#ffffff27
}

.xFacebook {
    width: 20px;
    height: 20px;
}

.button-Reddit{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 1226px;
   left: 180px;
   border-radius: 50%;
   width: 32px;
   height: 32px;
    background-color:#ffffff27
}

.xReddit{
    width: 20px;
    height: 20px;
}

.button-Instagram{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 1226px;
   left: 230px;
   border-radius: 50%;
   width: 32px;
   height: 32px;
    background-color:#ffffff27
}

.xInstagram {
    width: 18px;
    height: 18px;
}

.button-Youtube{
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
   top: 1226px;
   left: 280px;
   border-radius: 50%;
   width: 32px;
   height: 32px;
    background-color:#ffffff27
}

.xYoutube {
    width: 18px;
    height: 18px;
}


     
  }