.TopGame{
    display: flex;
    flex-direction: row;
}

.BotGames {
    display: flex;
    flex-direction: row;
}

.Wow1 {
    width: 244px;
    height: 325px;
}

.Wow2 {
    width: 244px;
    height: 325px;
}

.WarcrafRumble{
    width: 244px;
    height: 325px;
}

.DiabloIV{
    width: 244px;
    height: 325px;
}

.Wow3 {
    width: 244px;
    height: 325px;
}

.Overwatch{
    width: 244px;
    height: 325px; 
}

.Hearthstone {
    width: 244px;
    height: 325px;
}

.DiabloInmortal {
    width: 244px;
    height: 325px;
}

.DiabloResurected{
    width: 244px;
    height: 325px;
}

.WarcraftIIIReforged {
    width: 244px;
    height: 325px;
}

.BattleNet{
    width: 24px;
    height: 24px;
}

.Apple {
    width: 24px;
    height: 24px;
}

.GooglePlay{
    width: 24px;
    height: 24px;
}

.Xbox{
    width: 24px;
    height: 24px;
}
.PlayStation{
    width: 24px;
    height: 24px;
}
.Steam{
    width: 24px;
    height: 24px;
}

h1{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

p{
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

h3{
    font-size: 14px;
    color: gray;
}

