.Footer{
    display: flex;
    flex-direction: row;
}


.LeftFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Terms{
    display: flex;
    flex-direction: row;
    gap: 9px;
    position: absolute;
    left: 300px;
    top: 2908px;
}


.BlizzardsLogo {
    margin-right: 12px;
    width: 140px;
    height: 73px;
    display: flex;
    flex-direction: row;
    margin-left: 115px;
    margin-top: 40px;
    margin-bottom: 180px;
    

}



.Entertainment{
    position: absolute;
    font-size: 12px;
    left: 300px;
    top: 2854px;
}

.Marcas{
    position: absolute;
    font-size: 12px;
    left: 300px;
    top: 2874px;
   
  
}

.Privacidad{
    font-size: 12px;
}
.Legal{
    font-size: 12px;
}
.Terminos{
    font-size: 12px;
}
.PoliticaCookies{
    font-size: 12px;
}

.AjustesCookies{
    font-size: 12px;
}

