.nav-Bar{
    display: flex;
    flex-direction: row;
    background-color: #282d43;
    width: 94%;
    height: 10%;
    position: fixed;
    margin-top: 1%;
    border-radius: 6px;
    z-index: 10;
}


.Menu {
    display: none;
}
.Logo{
    width: 90px;
    height: 50px;
    margin-right: 20px;
    margin-left: 10px;
    
}


.icon-Img {
    width: 25px;
    height: 25px;
    padding-right: 7px;

}

.icon-battle-Net{
    width: 30px;
    height: 30px;
}

.left-Categories{
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    align-items: center;
    
   
}

.right-Catergories{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -50px;
}

.Categories{
    display: flex;
    flex-direction: row;
   
}

li{
    padding-right: 9%;
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}   

.download-battle-Net{
    width: 270px;
    height: 42px;
    font-size:14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

.warcraft-Title{
    font-size: 16px;
    margin-top: 1px;
    
}

.diablo-Title{
    font-size:16px;
    margin-top: 1px;
}

.overwatch-Title{
    font-size: 16px;
    margin-top: 1px;
}

.starcraft-Title{
    font-size: 16px;
    margin-top: 1px;
}


.points-Title{
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.079);
    color: aliceblue;
    width: 50px;
    height: 45px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: Top;
    
}

.points-nam{
    font-size: 20px;
}

.informacion-Title{
    font-size: 16px;
    
}

.tienda-Title{
    font-size: 16px;
}

.cuenta-Title{
    font-size: 16px;
}

.warcrafts-button{
    background-color: transparent;
}

.diablos-button{
    background-color: transparent;
}

.overwatch-button{
    background-color: transparent;
}

.starcraft-button{
    background-color: transparent;
}

.informacion-button{
    background-color: transparent;
    width: 250px;
}

.pp {
    display: none;
}





@media only screen and (max-width: 1024px) {
    .nav-Bar{
    display: flex;
    flex-direction: row;
    background-color: #282d43;
    width: 64%;
    height: 3.3%;
    margin-top: 1px;
    position: fixed;
}


.icon-Img {

    width: 30px;
    height: 30px;
   display: flex;
   margin-left: -60px;

}

.Logo{
    width: 65px;
    height: 45px;
    display: flex;
    margin-left: 177px;
}


.right-Catergories{
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

li{
    display: none;
}   
.icon-battle-Net{
    display: none;
}

.download-battle-Net{
    display: none;
}

.warcraft-Title{
    display: none;
}

.diablo-Title{
    display: none;
}

.overwatch-Title{
    display: none;
}

.starcraft-Title{
    display: none;
}

.points-Title{
    display: none;
    
}

.informacion-Title{
    display: none;
}

.tienda-Title{
    display: none;
}

.cuenta-Title{
    display: none;
}
.celular-button{
    background-color: aquamarine;
    
}

.Menu{
  
    height: 24px;
    display: flex;
margin-left: -247px;
}

.points-nam{
    display: none;
}

.informacion-Title{
    display: none;
    
}

.tienda-Title{
    display: none;
}

.cuenta-Title{
    display: none;
}

.warcrafts-button{
    display: none;
}

.diablos-button{
    display: none;
}

.overwatch-button{
    display: none;
}

.starcraft-button{
    display: none;
}

.informacion-button{
    display: none;
}


.celular-button{
    display: none;
}

.points-Title{
    display: none;
    
}

  }