.NavBar{
    display: flex;
    flex-direction: row;
    background-color: #282d43;
    width: 97%;
    height: 10%;
    position: fixed;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 10px;
}

.Prueba{
    width: 12px;
    height: 12px;
    color: red;
}

.Logo{
    width: 95px;
    height: 60px;
    margin-right: 20px;
    margin-left: 10px;
    
}


.IconImg {
    width: 30px;
    height: 30px;
    padding-right: 7px;

}

.IconBattleNet{
    width: 30px;
    height: 30px;
}

.LeftCategories{
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    align-items: center;
   
}

.RightCatergories{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.Categories{
    display: flex;
    flex-direction: row;
   
}

p{
    padding-right: 9%;
    color: aliceblue;
    font-size: 10px;
    text-align: center;
}   

.DownloadBattleNet{
    width: 420px;
    height: 42px;
    font-size:14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

.WarcraftTitle{
    font-size: 19px;
}

.DiabloTitle{
    font-size:19px;
}

.OverwatchTitle{
    font-size: 19px;
}

.StarcraftTitle{
    font-size: 19px;
}

.PointsTitle{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.079);
    color: aliceblue;
    width: 40px;
    height: 50px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.InformacionTitle{
    font-size: 19px;
}

.TiendaTitle{
    font-size: 19px;
}

.CuentaTitle{
    font-size: 19px;
}

