.Games{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

.LeftGames{
  margin-left: 6%;
    
}

.GamesTitle{
    margin-left: 20px;
    font-size: 31px;
    color: aliceblue;
}

.RightGames{
    margin-left: 40%;
    align-items: center;
    display: flex;
}

.Pc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    margin-right: 12px;
    height: 28px;
    width: 66px;
    border-radius: 50px;
    margin-left: 33px;
    font-size: 15px;
    background-color:#ffffff27
    
}

.Movil{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    margin-left: 12px;
    height: 28px;
    width: 94px;
    font-size: 15px;
      border-radius: 50px;
      background-color:#ffffff27
      
}

.Consola{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    height: 28px;
    width: 116px;
    border-radius: 50px;
    background-color:#ffffff27
}